<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Google Picker Project</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
    <h1>Google File Picker Demo</h1>
    <input type="button" id="authButton" value="Authorize with Google">
    {% if message %}
    <div>{{ message }}</div>
    {% endif %}
    </div>
    <script type="text/javascript">
        let clientId = "294225800248-bej756pqn3qi1qbl2llvi45oqtistoj2.apps.googleusercontent.com";

        let apikey = "AIzaSyCql4oN9vxLYvy6G2ZhsC2FnpcSUeKsKUA"
        let scopes = "https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/drive.file"
        let isPickerLoaded = false;

        let payload = {};

        // entrypoint defined in the google client library script tag
        function onLoad() {
            console.log("blah");
            gapi.load("auth2", loadAuth);
            gapi.load("picker", loadPicker);
        }

        function loadAuth() {
            // console.log(boo);
            var authButton = document.getElementById("authButton")
            authButton.addEventListener('click', function() {
                gapi.auth2.init({ client_id: clientId }).then(function (googleAuth) {
                    googleAuth.signIn({ scope: scopes }).then(function (result) {
                        handleAuthResult(result.getAuthResponse());
                    });
                });
            });
        }

        function loadPicker() {
            isPickerLoaded = true;
        }

        function handleAuthResult(result) {
            if (result && !result.error) {
                let oAuthToken = result.access_token;
                payload.oAuthToken = oAuthToken;
                createPicker(oAuthToken);
            }
            else {
                console.log("Error has occured: " + result.error);
            }
        }

        function createPicker(oAuthToken) {
            if (isPickerLoaded && oAuthToken) {
                var picker = new google.picker.PickerBuilder().
                    addView(google.picker.ViewId.DOCS).
                    setOAuthToken(oAuthToken).
                    setDeveloperKey(apikey).
                    setCallback(pickerCallback).
                    build();
                picker.setVisible(true);
            }
        }

        function pickerCallback(data) {
            if (data.action == google.picker.Action.PICKED) {
                let fileId = data.docs[0].id;
                console.log(fileId);
                payload.fileId = fileId;
                fetch("http://localhost:5000/upload", {
                    method: "POST",
                    body: JSON.stringify(payload)
                })
            }


        }
    </script>
    <script type="text/javascript" src="https://apis.google.com/js/api.js?onload=onLoad"></script>
</body>
</html>